body {
    display: block;
    background-color: #555; 
    color: sandybrown;
  }

@media only screen and (max-width: 100px) {
    body {
        color: black;
        background-color: dodgerblue;
    }
}
  
  h1 {
    text-decoration: underline;
    text-align: center;
    color: rgb(88, 6, 78);
    font-size: 40px;
  }

  h2 {
    color: orangered; 
    font-size: 25pt;
  }

  h3 {
    color: hsl(65, 100%, 10%, 0.6);
    font-size: 1pc;

  }

  ol {
    height: 100px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    min-width: none;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    border: 5px solid gray; 
    border-radius: 25px 25px 25px 25px;
  }

  ul {
    position: sticky;
    margin: 5px 5px 5px 5px;
    height: 100px;
    max-width: 500px;
    padding: 10px 10px 10px 25px;
    border: 5px inset black; 
  }


  summary {
    display: inline;
    margin: auto;
    width: 200;
    padding: 10px 10px 10px 25px;
    border: 5px inset darkred; 
    color: black
  }

  details summary{
    position: relative;
    font-size: 3vmin;
    background-color: lightcoral;
  }
  
  details > p {
      color: cornflowerblue
  }

  ol ~ p {
      text-decoration: overline;
  }

  h2 + p {
      text-align: center;
  }

  #Day1 {
      color: black;
  }

  * {
    position: none;
  }

  [href] {
      color: goldenrod
  }
  
  .flex-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: left;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    justify-content: space-around;
    grid-gap: 10px;
    padding: 10px;
  }

  label.date {
      color: black
  }

